<div class="container">
  <div class="form-title">
    <h3>{{ formTitle }}</h3>
  </div>

  <form id="myForm2" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <div *ngFor="let control of dbData">
        <div [ngSwitch]="control.Component_Type">
          <div *ngSwitchCase="'text'">
            <div class="label">
              <label
                ><h6>{{ control.Component_Label }}</h6></label
              >
            </div>
            <div>
              <input
                type="{{ control.Component_Type }}"
                class="form-control"
                [formControlName]="control.Component_ID"
              />
              <div
                *ngIf="
                  registrationForm.get(control.Component_ID).touched &&
                  !registrationForm.get(control.Component_ID).valid
                "
              >
                <small
                  *ngIf="registrationForm.get(control.Component_ID).errors?.required"
                >
                  {{ control.Component_Label }} is required
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <button class="form-control">Submit</button>
    </div>
  </form>
</div>
